#backButtonContainer {
	position: fixed;
	left: 10px;
	bottom: 10px;
	cursor: pointer;
}

#backButton {
	fill: url(#idleFill);
}

#backButton:hover {
	fill: url(#hoverFill);
}

#backButton:active {
	fill: url(#activeFill);
}