.button {
	font-size: 120%;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 40px;
	padding: 0;
	border-radius: 10px;
	line-height:0px;
	margin: 10px;
	color: black;
	background:linear-gradient(to bottom, hsla(360, 0%, 100%, 1) 5%, hsla(360, 0%, 80%, 1) 100%);
	cursor: pointer;
}

.button:hover {
	background:linear-gradient(to bottom, hsla(360, 0%, 100%, 1) 5%, hsla(360, 0%, 90%, 1) 100%);
}

.button:active {
	background:linear-gradient(to bottom, hsla(360, 0%, 90%, 1) 5%, hsla(360, 0%, 100%, 1) 100%);
}