#option1:hover, #option2:hover {
	-webkit-filter: contrast(0.8) brightness(1.2);
	filter: contrast(0.8) brightness(1.2);
}

#option1:active, #option2:active {
	-webkit-filter: contrast(0.8) brightness(0.8);
	filter: contrast(0.8) brightness(0.8);
}

#neither {
	margin-top: 158px;
	margin-bottom: 158px;
}
#neither:hover {
	-webkit-filter: contrast(0.8) brightness(1.2);
	filter: contrast(0.8) brightness(1.2);
}
#neither:active {
	-webkit-filter: contrast(0.8) brightness(0.8);
	filter: contrast(0.8) brightness(0.8);
}

#flairText {
	font-weight: bold;
	font-size: 350%;
	margin-top: 10px;
	margin-bottom: 0px;
}
#question {
	font-size: 150%;
	margin-top: 0px;
	margin-bottom: 10px;
}

#option1Label, #option2Label, #neitherLabel {
	font-size: 240%;
	display: inline-block;
}

#option1Label, #option2Label {
	width: 512px;
}

#neitherLabel {
	width: 192px;
	position: relative;
	top:150px;
}

table {
	font-size: 200%;
}

.numberRow {
	width: 50px;
	padding: 0px;
}

.nameRow {
	
}