@font-face {
    font-family: openSans;
    src: url(OpenSans.ttf);
}

html {
	background-color: black;
	color: white;
	font-family: openSans;
	padding: 0px;
	margin: 0px;
}

::selection {
	background: white;
	color: black;
}